<div class="container">
    <div class="row">
        <div class = "header col-sm-2"> ID </div>
        <div class = "header col-sm-2"> Name </div>
        <div class = "header col-sm-1"> Type 1 </div>
        <div class = "header col-sm-1"> Type 2 </div>
        <div class = "header col-sm-1"> Health </div>
        <div class = "header col-sm-1"> Attack </div>
        <div class = "header col-sm-1"> Defense </div>
        <div class = "header col-sm-1"> Special Attack </div>
        <div class = "header col-sm-1"> Special Defense </div>
        <div class = "header col-sm-1"> Speed </div>
    </div>
    {{{data}}}
</div>